*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* game */
.bowl {
    width: 12.5rem;
    height: 12.5rem;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.bowl::after {
    content: " ";
    width: 12.5rem;
    height: 12.5rem;
    display: block;
    background: url("../images/dog-bowl.png") no-repeat;
    background-size: 80%;
    position: absolute;
    left: 1.5625rem;
    top: 5.3125rem;
    filter: invert(1);
}

.cheems {
    width: 12.5rem;
    height: 12.5rem;
    background: url("../images/cheems.png") no-repeat;
    position: absolute;
    right: 2rem;
    top: 13rem;
    background-size: 150%;
    transition: top 0.1s;
}

.cheems.show {
    top: 0;
}