@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar */
nav a.btn {
  background-color: #e7eaf5;
  border: none;
  color: #0c145a;
}

nav a.btn:hover {
  background-color: #4d17e2;
  color: #e7eaf5;
}

nav .active a.btn {
  background-color: #5526d5;
  color: #e7eaf5;
}

/* game */
.bowl {
  width: 12.5rem;
  height: 12.5rem;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.bowl::after {
  content: " ";
  width: 12.5rem;
  height: 12.5rem;
  display: block;
  background: url("../images/dog-bowl.png") no-repeat;
  background-size: 80%;
  position: absolute;
  left: 1.5625rem;
  top: 5.3125rem;
  filter: invert(1);
}

.cheems {
  width: 12.5rem;
  height: 12.5rem;
  background: url("../images/cheems.png") no-repeat;
  position: absolute;
  right: 2rem;
  top: 13rem;
  background-size: 150%;
  transition: top 0.1s;
}

.cheems.show {
  top: 0;
}

.btn-start {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* leaderboard */
#tabel-leaderboard td {
  margin: auto;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  line-height: 21px;
  border: none;
}

#tabel-leaderboard tr:nth-child(odd) {
  background-color: #f3f5fc;
}

#tabel-leaderboard td:first-child {
  font-weight: 600;
  font-size: 21px;
  width: 17%;
  padding: 1.3rem;
}

#tabel-leaderboard td:last-child {
  padding: 0.5rem;
  width: 25%;
}

#tabel-leaderboard td:last-child .container {
  margin: auto 0;
  padding: 0.8rem;
  font-size: 18px;
  font-weight: 800;
  background-color: #4d17e2;
  color: #e7eaf5;
  border-radius: 0.5rem;
  text-align: center;
  width: 75px;
}
